<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartcoffee.mapper.CoffeeMapper">
    <resultMap id="CoffeeMap" type="com.smartcoffee.entity.Coffee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="description" property="description"/>
        <result column="image_url" property="imageUrl"/>
    </resultMap>

    <select id="listAll" resultMap="CoffeeMap">
        SELECT id, name, price, description, image_url
        FROM coffee
    </select>
    <select id="findById" parameterType="long" resultMap="CoffeeMap">
        SELECT id, name, price, description, image_url
        FROM coffee
        WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.smartcoffee.entity.Coffee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO coffee(name, price, description, image_url)
        VALUES(#{name}, #{price}, #{description}, #{imageUrl})
    </insert>
    <update id="update" parameterType="com.smartcoffee.entity.Coffee">
        UPDATE coffee
        SET name = #{name},
            price = #{price},
            description = #{description},
            image_url = #{imageUrl}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="long">
        DELETE FROM coffee WHERE id = #{id}
    </delete>
</mapper>
